* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px;
  gap: 0px;
}

.text-block {
  flex: 0.8;
  max-width: 45%;
  padding-left: 200px;
}

.text-block h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.text-block p {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.button {
  font-size: 2em;
  padding: 35px 70px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
  background-color: #e14040;
  transform: scale(1.05);
}

.image-block {
  flex: 1.2;
  max-width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes sideToSide {
  0% { transform: translateX(0); }
  50% { transform: translateX(15px); }
  100% { transform: translateX(0); }
}

.image-block img {
  width: 700px;              /* o el tamaño que querás */
  max-height: 130vh;  /* Ajustado a 70vh para mejor visual */
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  animation: sideToSide 4s ease-in-out infinite;
}
